section {
    width: 100%;
}

.receitasContent {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 5% 0;
}


.receitasCard {
    background-color:rgb(255, 229, 207);
    width: 400px;
    margin: 0 0.5%;
    height: 40rem
}

.receitasCard h2 {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.receitasCard p {
    padding: 0 10px;
}

img {
    height: 200px;
    width: 380px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

